@import "./Extra/variables";

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-image: url(/Extra/Foods.png);
    background-position: center;
}

main{
    height: 50vh;
}

//* Foto da carne
header{
    background-image: url(/Extra/pexels-skitterphoto-1105325.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;    
    border-radius: 0 0 4rem 4rem;
}


//* Orange in the 'how to use the site'
#detail{
    color: $secondColor;
}

.inputs-icon{
    margin-bottom: 10px;
    max-width: 500px;
    margin: auto;
    border-radius: 20px;
    
    &:hover{
        box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: 0.2), 3px 0px 5px rgba($color: #000000, $alpha: 0.2);
        font-size: $textFont + 0.01rem;
    }
    
    .icon{
        max-width: 25px;
        transform: translateY(5px);       
    }
    
    #male-icon{
        max-width: 15px;
        transform: translateY(5px);
        
    }
}



//*Churrascometro title
h1{
    text-align: center;
    font-size: $titleFont;
    color: $secondColor;
}

.container{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 800px;
    border-radius: 30px;
    box-shadow: 0px 2px 7px rgba($color: #3b3b3b, $alpha: 0.3), 2px 0px 5px rgba($color: #3b3b3b, $alpha: 0.5);
    background-color: $thirdColor;
    
    //* Little 'how to use the site' 
    .info{
        padding: 20px 0px;
        font-size: $textFont;
        text-align: center;
    }
    
    #forms{
        text-align: center;
        
        input, button{
            margin: 10px;
            font-size: $inputFont;
            border-style: none;
            background-color: $inputsColor;
            padding: 5px;
            border-radius: 7px;
            
        }
        
        button{
            background-color: $secondColor;
            padding: 15px;
            border-radius: 25px;
            
            &:hover{
                box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: 0.2), 3px 0px 5px rgba($color: #000000, $alpha: 0.2);
                cursor: pointer;
            }
        }
    }
}

#ninja{
    display: none;
    text-align: center;
    
    p{
        padding-top: 3px;
        font-size: $textFont;
    }
    
    img{
        max-width: 25px;
    }
    
}

//*750px
@media only screen and (max-width: 46.875em){

    main{
        height: 90vh;
    }

    h1{
        font-size: $titleMobile;
    }

    .container{
        width: 70%;

        .info{
            font-size: $textMobile;
        }

        #forms{
            input{
                font-size: $inputMobile;
            }
            button{
                font-size: $inputMobile;
            }
        }
    }

    #ninja{
        p{
            font-size: $textMobile;
        }
    }
}

//*Galaxy fold lol
@media only screen and (max-width: 17.5em){

    h1{
        font-size: $titleMobile - 0.3rem;
    }

    .container{
        width: 70%;

        .info{
            font-size: $textMobile - 0.2rem;
        }

        #forms{
            input{
                font-size: $inputMobile - 0.2rem;
            }
        }
    }

    #ninja{
        p{
            font-size: $textMobile - 0.2rem;
        }
    }


}