$mainColor: rgb(240, 240, 240);
$secondColor: rgba(255, 157, 0, 0.89);
$thirdColor: rgba(221, 221, 221, 0.815);


$titleFont: 5rem;
$textFont: 2rem;
$inputFont: 1.8rem;

//! Mobile

$titleMobile: 2.4rem;
$textMobile: 1.7rem;
$inputMobile: 1.4rem;