$secondColor: rgba(255, 157, 0, 0.89);
$thirdColor: #dddddded;

$inputsColor: rgb(240, 240, 240);

$titleFont: 5rem;
$textFont: 2rem;
$inputFont: 1.8rem;

//! Mobile

$titleMobile: 1.8rem;
$textMobile: 1.7rem;
$inputMobile: 1rem;